.route-list-content {
    border-top: 1px solid #808080;
    margin-top: calc(var(--margin) * 2);
    margin-bottom: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);
}
.route-list-content a {color: black}
.route-list-content a:visited {color: black}
.route-list-content a:active {color: black}

.route-card {
    display: flex;
    width: inherit;
    height: 160;
    border-bottom: 1px solid #808080;
}

.route-card-image {
    margin-top: calc(var(--margin) * 2);
    margin-bottom: calc(var(--margin) * 2);
    margin-left: var(--margin);
    margin-right: var(--margin);
    height: 100px;
    width: 160px;
    border-radius: calc(var(--margin) * 0.5);
    /* box-shadow: 0px 5px 10px #808080; */
}
.route-card:hover .route-card-image {
    margin-top: calc(var(--margin) * 2 - 2px);
    margin-bottom: calc(var(--margin) * 2 - 2px);
    margin-left: calc(var(--margin) - 2px);
    margin-right: calc(var(--margin) - 2px);
    height: 104px;
    width: 164px;
    /* box-shadow: 0px 6px 12px #808080; */
}
@media (max-device-width : 1499px) {
    .route-card-image {display: none;}
}

.route-card-data-container {
    margin: calc(var(--margin) * 2);
    height: 100px;
    overflow: hidden;
}

.route-card-header {
    height: 50px;
    font-size: 24px;
}
.route-card:hover .route-card-header {color: var(--accent-color);}

.route-card-statistic-container {
    display: flex;
    flex-wrap: wrap;
}

.route-card-statistic-element-container {
    display: flex;
    width: 100px;
    height: 32px;
}

.route-card-statistic-element-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.route-card-icons {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.route-card-link {
    margin-left: var(--main-margin);
    display: block;
    color: var(--very-dark-color);
    font-size: large;
}

.route-card-link:hover {
    color: var(--very-dark-color);
}

.route-list-statistic {
    margin: var(--margin);
    padding-top: calc(var(--margin) * 2);
    border-top: 1px solid #808080;
    text-align: center;
    font-size: medium;
}

/*
 * Pagination
 */

.route-list-pagination {
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    display: flex;
    justify-content: center;
}

.pagination-current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 160px;
    font-size: medium;
}

.pagination-buttons {
    display: flex;
    width: 80px;
}

.navigation-button {
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
    background-size: cover;
}

#home-page-button {background-image: url(/images/icons/pagination_home.png);}
#prev-page-button {background-image: url(/images/icons/pagination_prev.png);}
#next-page-button {background-image: url(/images/icons/pagination_next.png);}
#last-page-button {background-image: url(/images/icons/pagination_last.png);}

.navigation-button:hover {
    border: 1px solid darkgrey;
}