:root {
    --main-dark-color: #404040;
    --very-dark-color: #202020;
    --title-light-color: #E0E0E0;
    --width-desktop: 40%;
    --width-mobile: 100%;
    --main-border-radius: 5px;
    --topbar-height: 50px;
    --topbar-button-size: 34px;
    --header-image-height: 300px;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 0px;
}

a:hover {
    text-decoration: none;
}

.filter-container {
    float: left;
}

/*
 * base generic
 */

.topbar-container {
    width: 100%;
    height: var(--topbar-height);
    background-color: var(--main-dark-color);
}

.topbar {
    height: var(--topbar-height);
    margin: auto;
}

.topbar-title a {
    color: var(--title-light-color); /* Цвет ссылок */
}

.topbar-title a:visited {
    color: var(--title-light-color); /* Цвет посещенных ссылок */
}

.topbar-title a:active {
    color: var(--very-dark-color); /* Цвет активных ссылок */
}

.topbar-button {
    height: var(--topbar-button-size);
    width: var(--topbar-button-size);
    margin-top: calc((var(--topbar-height) - var(--topbar-button-size))/2);
    margin-right: 5px;
    background-color: var(--very-dark-color);
    border: 1px solid var(--very-dark-color);
    border-radius: var(--main-border-radius);
}

.topbar-button-background {
    position: relative;
    height: 100%;
    width: 100%;
}

.topbar-title {
    position: absolute;
    top: 6px;
    width: 100%;
    height: var(--topbar-height);
    text-align: center;
    color: var(--title-light-color);
    font-size: 25px;
}

.data-container {
    max-height: 100%;
    margin: auto;
}

@media (max-device-width : 1499px) {
    .topbar {
        max-width: var(--width-mobile);
        margin-left: 15px;
        margin-right: 15px;
    }

    .data-container {
        max-width: var(--width-mobile);
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-device-width : 1500px) {
    .topbar {
        max-width: var(--width-desktop);
    }

    .data-container {
        max-width: var(--width-desktop);
    }
}



/*
 * index
 */

.main-page-text {
    text-align: center;
}

/*
 * detail view
 */

.header-container {
    position: relative;
    width: 100%;
    height: var(--header-image-height);
    margin-top: 8px;
}

.overlay-header-container {
    position: relative;
}

.wallpaper-image {
    position: absolute;
    width: 100%;
    height: var(--header-image-height);
    object-fit: cover;
}

.simple-linear {
    position: absolute;
    width: 100%;
    height: 150px;
    top: calc(var(--header-image-height) - 150px);
    background: linear-gradient(#00000000, var(--main-dark-color));
}

.header-text {
    position: absolute;
    bottom: calc(0px - var(--header-image-height));
    margin-left: 10px;
    color: var(--title-light-color);
}

.feature-container {
    margin-top: 16px;
}

.description-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.text-justify { 
    text-align: justify;
}

.google-map {
    width: 100%;
    height: 400px;
    margin-bottom: 50%;
}

/* 
 * route list
 */

.route-list-header {
    display: block;
    height: 100px;
    padding-bottom: 5%;
}

.submit-button-container {
    border-bottom: 2px solid gray;
}

.submit-button {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.filter-container {
    float: left;
    padding-top: 8px;
    padding-right: 32px;
}

.input-number {
    width: 100px;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
    padding: 5px;
}

.route-card {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
}

.message-nothing-was-found {
    padding-top: 8px;
}