:root {
    --main-dark-color: #404040;
    --very-dark-color: #202020;
    --title-light-color: #E0E0E0;
    --width-desktop: 40%;
    --width-mobile: 100%;
    --main-border-radius: 5px;
    --topbar-height: 50px;
    --topbar-button-size: 34px;
    --header-image-height: 300px;
    --main-margin: calc((var(--topbar-height) - var(--topbar-button-size))/2);
}

input {outline:none;}

ul {padding-left: 0;}

li {
    list-style-type: none;
    padding: 0px;
}

a:hover {text-decoration: none;}

/*
 * base generic
 */

.topbar-container {
    width: 100%;
    height: var(--topbar-height);
    background-color: var(--main-dark-color);
}

.topbar {
    height: var(--topbar-height);
    margin: auto;
}

.topbar-title a {color: var(--title-light-color);}

.topbar-title a:visited {color: var(--title-light-color);}

.topbar-title a:active {color: var(--very-dark-color);}

.topbar-button {
    height: var(--topbar-button-size);
    width: var(--topbar-button-size);
    margin-top: var(--main-margin);
    background-color: var(--very-dark-color);
    border: 1px solid var(--very-dark-color);
    border-radius: var(--main-border-radius);
}

.topbar-button-background {
    position: relative;
    height: 100%;
    width: 100%;
}

.topbar-title {
    position: absolute;
    top: 6px;
    width: 100%;
    height: var(--topbar-height);
    text-align: center;
    color: var(--title-light-color);
    font-size: 25px;
}

.data-container {
    max-height: 100%;
    margin: auto;
}

/*
 * mobile
 */
@media (max-device-width : 1499px) {
    .topbar {max-width: var(--width-mobile);}

    .data-container {max-width: var(--width-mobile);}

    .topbar-button {margin-left: var(--main-margin);}

    #home-button {display: none}

    .rout-list-container {
        margin-left: var(--main-margin);
        margin-right: var(--main-margin);
    }

    .header-text {margin-left: var(--main-margin);}

    .feature-container {
        margin-left: var(--main-margin);
        margin-right: var(--main-margin);
    }

    .description-container {
        margin-left: var(--main-margin);
        margin-right: var(--main-margin);
    }

    .route-list-header {
        margin-left: var(--main-margin);
        margin-right: var(--main-margin);
    }

    .submit-button-container {
        margin-left: var(--main-margin);
        margin-right: var(--main-margin);
    }
}

/*
 * desktop
 */
@media (min-device-width : 1500px) {
    .topbar {
        max-width: 800px;
        width: 100%;
    }

    .data-container {
        max-width: 800px;
        width: 100%;
    }

    .topbar-button {
        margin-left: 4px;
    }

    .header-container {
        margin-top: var(--main-margin);
        border-radius: var(--main-border-radius);
        overflow: hidden;
    }

    .header-text {margin-left: 10px;}
}

/*
 * index
 */

.main-page-text {text-align: center;}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-card-background {
    overflow: hidden;
    background-size: cover;
    width: 192px;
    height: 128px;
    margin: 4px;
    border-radius: var(--main-border-radius);
}

.collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    height: inherit;
    background-color: #00000080;
    /* border-radius: var(--main-border-radius); */
}

.collection-card-link-container {
    display: block;
    text-align: center;
}

.collection-card-link {
    display: block;
    color: white;
}

.collection-card-link:hover {color: white;}


/*
 * detail view
 */

.header-container {
    position: relative;
    width: 100%;
    height: var(--header-image-height);
}

.overlay-header-container {position: relative;}

.wallpaper-image {
    position: absolute;
    width: 100%;
    height: var(--header-image-height);
    object-fit: cover;
}

.simple-linear {
    position: absolute;
    width: 100%;
    height: 150px;
    top: calc(var(--header-image-height) - 150px);
    background: linear-gradient(#00000000, black);
}

.header-text {
    position: absolute;
    bottom: calc(0px - var(--header-image-height));
    color: var(--title-light-color);
}

.feature-container {margin-top: 16px;}

.description-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.text-justify { text-align: justify;}

.google-map {
    width: 100%;
    height: 400px;
    margin-bottom: 50%;
}

/* 
 * route list
 */

.route-list-header {
    display: block;
    overflow: hidden;
}

.submit-button-container {
    text-align: left;
    border-bottom: 1px solid gray;
}

.submit-button {
    background-color: transparent;
    width: 192px;
    height: 32px;
    border: 1px solid var(--very-dark-color);
    border-radius: var(--main-border-radius);
    margin: 4px;
    padding: 0px;
    background-color: var(--very-dark-color);
    color: white;
}

.submit-button:active {
    margin: 5px;
    width: 190px;
    height: 30px;
}

.filter-border {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
    border: 1px solid var(--main-dark-color);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.filter-container {
    float: left;
    padding: 4px;
}

.distance-range-input-container {
    width: 192px;
    height: 32px;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
}

.distance-range-input-container:hover {
    border: 1px solid darkgrey;
}

.drop-down-multiple-choice-list-container {
    position: absolute;
    width: 192px;
    padding: 5px;
    padding-left: 9px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
}

.drop-down-multiple-choice-button {
    width: 192px;
    height: 32px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
    text-align: left;
}

.drop-down-multiple-choice-button:hover {
    border: 1px solid darkgrey;
}

.input-number {
    width: 89px;
    border: 0px solid;
    padding: 5px;
}

.boolean-choice {
    width: 192px;
    height: 32px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
}
/* 
 * Route list content
 */

.route-card {
    width: calc(100% - 8px);
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
}

.route-card:hover {
    box-shadow: 0px 0px 5px lightgrey;
}

.route-card-link {
    display: block;
    color: black;
}

.route-card-link:hover {
    color: black;
}

.message-nothing-was-found {
    padding-top: 8px;
    text-align: center;
}