/*
 * detail view
 */

.header-container {
    height: var(--header-image-height);
}

@media (max-device-width : 1499px) {
    .header-container {
        width: 100%;
    }

    .feature-container {
        margin-left: var(--main-margin);
        margin-right: var(--main-margin);
    }
    
    .description-container {
        margin-left: var(--main-margin);
        margin-right: var(--main-margin);
    }

    .header-text {
        padding-left: var(--main-margin);
        padding-right: var(--main-margin);
    }
}

@media (min-device-width : 1500px) {
    .header-container {
        width: calc(100% - 2*var(--half-margin));
        margin-top: var(--main-margin);
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
        border-radius: var(--main-border-radius);
        overflow: hidden;
    }

    .feature-container {
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
    }
    
    .description-container {
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
    }

    .map-view-container {
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
    }
}

.overlay-header-container {position: relative;}

.wallpaper-image {
    position: absolute;
    width: 100%;
    height: var(--header-image-height);
    object-fit: cover;
}

.simple-linear {
    position: absolute;
    width: 100%;
    height: 150px;
    top: calc(var(--header-image-height) - 150px);
    background: linear-gradient(#00000000, black);
}

.header-text {
    position: absolute;
    bottom: calc(0px - var(--header-image-height));
    color: var(--title-light-color);
}

.feature-container {margin-top: 16px;}

.description-container {
    margin-top: 16px;
    margin-bottom: 5%;
}

.text-justify { text-align: justify;}

.google-map {
    width: 100%;
    height: 400px;
    margin-bottom: 50%;
}

/*
 * detail view (gallery)
 */

.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 8px);
    height: 232px;
    border-top: 1px solid var(--main-dark-color);
    border-bottom: 1px solid var(--main-dark-color);
    overflow-x: scroll;
}

@media (max-device-width : 1499px) {
    .gallery-container {
        margin-left: var(--main-margin);
        margin-right: var(--main-margin);
    }
}

@media (min-device-width : 1500px) {
    .gallery-container {
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
    }
}

.gallery-container-no-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 8px);
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
    border-top: 1px solid var(--main-dark-color);
    border-bottom: 1px solid var(--main-dark-color);
    text-align: center;
    font-size: medium;
}

.gallery-scroller-container {
    display: flex;
    /* justify-content: center; */
    height: 168px;
}

.gallery-image-container {
    width: 260px;
    height: inherit;
    padding-left: 4px;
    padding-right: 4px;
}

.gallery-image {
    width: 252px;
    height: inherit;
    object-fit: cover;
    border-radius: var(--main-border-radius);
}

/* 
 * route list
 */



/* 
 * Route list content
 */

