:root {
    --main-dark-color: #404040;
    --very-dark-color: #202020;
    --title-light-color: #E0E0E0;
    --width-desktop: 40%;
    --width-mobile: 100%;
    --main-border-radius: 5px;
    --topbar-height: 50px;
    --topbar-button-size: 34px;
    --header-image-height: 300px;
    --main-margin: calc((var(--topbar-height) - var(--topbar-button-size))/2);
    --half-margin: calc(var(--main-margin)/2);
}

body {
    overflow: scroll;
}

input {outline:none;}

ul {padding-left: 0;}

li {
    list-style-type: none;
    padding: 0px;
}

a:hover {text-decoration: none;}

/*
 * base generic
 */

.topbar-container {
    width: 100%;
    height: var(--topbar-height);
    background-color: var(--main-dark-color);
}

.topbar {
    height: var(--topbar-height);
    margin: auto;
}

.topbar-title a {color: var(--title-light-color);}

.topbar-title a:visited {color: var(--title-light-color);}

.topbar-title a:active {color: var(--very-dark-color);}

.topbar-button {
    height: var(--topbar-button-size);
    width: var(--topbar-button-size);
    margin-top: var(--main-margin);
    background-color: var(--very-dark-color);
    border: 1px solid var(--very-dark-color);
    border-radius: var(--main-border-radius);
}

.topbar-button-background {
    position: relative;
    height: 100%;
    width: 100%;
}

.topbar-title {
    position: absolute;
    top: 6px;
    width: 100%;
    height: var(--topbar-height);
    text-align: center;
    color: var(--title-light-color);
    font-size: 25px;
}

.data-container {
    max-height: 100%;
    margin: auto;
}

/*
 * mobile
 */
@media (max-device-width : 1499px) {
    .topbar {max-width: var(--width-mobile);}

    .data-container {max-width: var(--width-mobile);}

    .topbar-button {margin-left: var(--half-margin);}

    #home-button {display: none}

    .rout-list-container {
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
    }

    .header-text {margin-left: var(--half-margin);}

    .route-list-header {
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
    }

    .submit-button-container {
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
    }
}

/*
 * desktop
 */
@media (min-device-width : 1500px) {
    .topbar {
        max-width: 800px;
        width: 100%;
    }

    .data-container {
        max-width: 800px;
        width: 100%;
    }

    .topbar-button {
        margin-left: 4px;
    }

    .header-text {margin-left: 10px;}
}

/*
 * index
 */

.main-page-text {text-align: center;}

.text {
    margin: 4px;
    font-size: medium;
}

.index-header {
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: large;
    border-bottom: 1px solid var(--main-dark-color);
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
}

.collection-card-background {
    overflow: hidden;
    background-size: cover;
    width: 192px;
    height: 128px;
    margin: 4px;
    border-radius: var(--main-border-radius);
}

.collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    height: inherit;
    background-color: #000000A0;
}

.collection-card-link-container {
    display: block;
    text-align: center;
    padding: 8px;
}

.collection-card-link {
    display: block;
    color: white;
}

.collection-card-link:hover {color: white;}


/*
 * detail view
 */

.header-container {
    height: var(--header-image-height);
}

.feature-container {
    margin-left: var(--half-margin);
    margin-right: var(--half-margin);
}

.description-container {
    margin-left: var(--half-margin);
    margin-right: var(--half-margin);
}

@media (min-device-width : 1500px) {
    .header-container {
        width: calc(100% - 2*var(--half-margin));
    }
}

@media (min-device-width : 1500px) {
    .header-container {
        width: 100%;
        margin-top: var(--main-margin);
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
        border-radius: var(--main-border-radius);
        overflow: hidden;
    }

    .map-view-container {
        margin-left: var(--half-margin);
        margin-right: var(--half-margin);
    }
}

.overlay-header-container {position: relative;}

.wallpaper-image {
    position: absolute;
    width: 100%;
    height: var(--header-image-height);
    object-fit: cover;
}

.simple-linear {
    position: absolute;
    width: 100%;
    height: 150px;
    top: calc(var(--header-image-height) - 150px);
    background: linear-gradient(#00000000, black);
}

.header-text {
    position: absolute;
    bottom: calc(0px - var(--header-image-height));
    color: var(--title-light-color);
}

.feature-container {margin-top: 16px;}

.description-container {
    margin-top: 16px;
    margin-bottom: 5%;
}

.text-justify { text-align: justify;}

.google-map {
    width: 100%;
    height: 400px;
    margin-bottom: 50%;
}

/*
 * detail view (gallery)
 */

.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 8px);
    height: 232px;
    margin-left: 4px;
    margin-right: 4px;
    border-top: 1px solid var(--main-dark-color);
    border-bottom: 1px solid var(--main-dark-color);
    overflow-x: scroll;
}

.gallery-container-no-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 8px);
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
    border-top: 1px solid var(--main-dark-color);
    border-bottom: 1px solid var(--main-dark-color);
    text-align: center;
    font-size: medium;
}

.gallery-scroller-container {
    display: flex;
    /* justify-content: center; */
    height: 168px;
}

.gallery-image-container {
    width: 260px;
    height: inherit;
    padding-left: 4px;
    padding-right: 4px;
}

.gallery-image {
    width: 252px;
    height: inherit;
    object-fit: cover;
    border-radius: var(--main-border-radius);
}

/* 
 * route list
 */

.drop-down-multiple-choice-list-container {
    position: absolute;
    width: 192px;
    padding: 4px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
}

.drop-down-multiple-choice-content {
    display: flex;
    width: 182px;
    height: 32px;
    border-radius: 4px;
}

.drop-down-multiple-choice-content:hover {
    background-color: cornflowerblue;
    color: white;
}

.drop-down-multiple-choice-button {
    width: 192px;
    height: 32px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
    text-align: left;
}

/* .drop-down-multiple-choice-checkbox {
    display: none;
} */

.fake-checkbox-container {
    width: 32px;
    height: inherit;
}

.fake-checkbox {
    width: 14px;
    height: 14px;
    margin: 9px;
    object-fit: cover;
}

.drop-down-multiple-choice-label {
    width: 152px;
    height: inherit;
    line-height: 32px;
    font-weight: normal;
}

.distance-range-input-container {
    width: 192px;
    height: 32px;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
}

.distance-range-input-container:hover {
    border: 1px solid darkgrey;
}

.drop-down-multiple-choice-button:hover {
    border: 1px solid darkgrey;
}

.input-number {
    width: 89px;
    border: 0px solid;
    padding: 5px;
}

.boolean-choice {
    width: 192px;
    height: 32px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
}

/*
 * mobile
 */
@media (max-device-width : 1499px) {
    .route-list-header {
        border-bottom: 1px solid var(--main-dark-color);
    }

    .filter-container {
        width: inherit;
        display: flex;
        justify-content: space-between;
        padding: 4px;
    }
}

@media (min-device-width : 1500px) {
    .route-list-header {
        display: block;
        overflow: hidden;
    }

    .submit-button-container {
        text-align: left;
        border-bottom: 1px solid gray;
    }

    .submit-button {
        background-color: transparent;
        width: 192px;
        height: 32px;
        border: 1px solid var(--very-dark-color);
        border-radius: var(--main-border-radius);
        margin: 4px;
        padding: 0px;
        background-color: var(--very-dark-color);
        color: white;
    }

    .submit-button:active {
        margin: 5px;
        width: 190px;
        height: 30px;
    }

    .filter-border {
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
        width: calc(100% - 8px);
        border: 1px solid var(--main-dark-color);
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }

    .filter-container {
        float: left;
        padding: 4px;
    }
}

/* 
 * Route list content
 */

.route-card {
    display: flex;
    height: 128px;
    width: calc(100% - var(--main-margin));
    margin-top: var(--main-margin);
    margin-left: var(--half-margin);
    margin-right: var(--half-margin);
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
}

.route-card:hover {
    box-shadow: 0px 0px 5px lightgrey;
}

.message-nothing-was-found {
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: medium;
}

.route-card-image-container {
    margin: 6px;
    width: 178px;
    height: 114px;
}

.route-card-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: var(--main-border-radius);
}

.route-card-data-container {
    margin-top: 6px;
    margin-right: 6px;
    height: 114px;
    border-left: 1px solid lightgray;
    overflow: hidden;
}

.route-card-statistic-container {
    display: flex;
}

.route-card-statistic-element-container {
    display: flex;
    margin: 8px;
    width: 184px;
    height: 32px;
}

.route-card-statistic-element-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
}

.route-card-icons {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.route-card-link {
    margin-left: var(--main-margin);
    display: block;
    color: var(--very-dark-color);
    font-size: large;
}

.route-card-link:hover {
    color: var(--very-dark-color);
}

.route-list-statistic {
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 4px;
    border-top: 1px solid var(--main-dark-color);
    text-align: center;
    font-size: medium;
}

@media (max-device-width : 1499px) {
    .route-card-image-container {display: none;}
    .route-card-delimeter {display: none;}
}

/*
 * Pagination
 */

.route-list-pagination {
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}

.pagination-current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 160px;
    font-size: medium;
}

.pagination-buttons {
    display: flex;
    width: 80px;
}

.navigation-button {
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
    background-size: cover;
}

#home-page-button {background-image: url(/images/icons/pagination_home.png);}
#prev-page-button {background-image: url(/images/icons/pagination_prev.png);}
#next-page-button {background-image: url(/images/icons/pagination_next.png);}
#last-page-button {background-image: url(/images/icons/pagination_last.png);}

.navigation-button:hover {
    border: 1px solid darkgrey;
}