{% extends "base_generic.html" %}

{% block static %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}<title>Веломаршруты</title>{% endblock %}

{% block content %}
    <!-- <div class="index-header-container">
        <div class="index-header-pic-container">
            <img class="index-header-pic" src="/images/icons/index_header_pic.png">
        </div>
        <div class="index-header-text-container">
            <div class="index-header-text">Велосипедные и пешеходные маршруты Казани</div>
        </div>
    </div> -->

    <!-- <div class="index-paragraph-header" id="index-collection-header">
        Найди подходящий маршрут из категорий или посмотри всю
        <a class="index-route-list-href" href="{% url 'rout-list' %}">коллекцию</a>
    </div>

    <div class="collection-container">
        {% if route_collections %}
            {% for collection in route_collections %}
                <div class="collection-card-background" id="url(/images/{{ collection.image }})">
                    <div class="collection-card">
                        <div class="collection-card-link-container">
                            <a class="collection-card-link" href="/routs/rout-list/?collection={{ collection.id }}"> {{ collection.title }} </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="message-nothing-was-found">Пока нет подборок</p>
        {% endif %}
    </div>

    <div class="index-paragraph-header" id="index-useful-header">
        Полезное
    </div>
    <div class="index-list-item">
        <img class="index-list-item-image" src="/images/icons/location.png">
        <a class="index-list-item-href" href="{% url 'develop' %}">Как пользоваться GPS треком</a>
    </div>
    <div class="index-list-item">
        <img class="index-list-item-image" src="/images/icons/advise_2.png">
        <a class="index-list-item-href" href="{% url 'develop' %}">Советы перед выездом</a>
    </div>

    <div class="index-paragraph-header" id="index-info-header">
        Маршрут пройден? Понравилось? Узнай больше
    </div>
    <div class="index-list-item">
        <img class="index-list-item-image" src="/images/icons/goals_2.png">
        <a class="index-list-item-href" href="{% url 'develop' %}">Цели проекта</a>
    </div>
    <div class="index-list-item">
        <img class="index-list-item-image" src="/images/icons/coin_2.png">
        <a class="index-list-item-href" href="{% url 'develop' %}">Поддержать проект</a>
    </div>
    <div class="index-list-item">
        <img class="index-list-item-image" src="/images/icons/message.png">
        <a class="index-list-item-href" href="{% url 'develop' %}">Предложить маршрут</a>
    </div>
    <div class="index-list-item">
        <img class="index-list-item-image" src="/images/icons/direct.png">
        <a class="index-list-item-href" href="{% url 'develop' %}">Написать автору</a>
    </div> -->

    <script src="{% static 'script/index.js' %}"></script>
{% endblock %}