{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block title %}<title>Веломаршруты</title>{% endblock %}

{% block content %}
    <p class="text">Kazan Tracks - сайт с коллекцией велосипедных и пешеходных маршрутов Казани и её окрестностей</p>
    
    <div class="index-header">
        <strong>Найди подходящий маршрут из категорий или посмотри всю <a href="{% url 'rout-list' %}">коллекцию</a></strong>
    </div>
    <div class="collection-container">
        {% if route_collections %}
            {% for collection in route_collections %}
                <div class="collection-card-background" id="url(/images/{{ collection.image }})">
                    <div class="collection-card">
                        <div class="collection-card-link-container">
                            <a class="collection-card-link" href="/routs/rout-list/?collection={{ collection.id }}"> {{ collection.title }} </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="message-nothing-was-found">Пока нет подборок</p>
        {% endif %}
    </div>

    <div class="index-header">
        <strong>Маршрут пройден? Понравилось? Узнай больше</a></strong>
    </div>
    <p class="text"><a href="https://t.me/kazantracks">Telegram</a></p>

    <script src="{% static 'script/index.js' %}"></script>
{% endblock %}