{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block title %}<title>Поиск маршрутов</title>{% endblock %}

{% block content %}
    <div class="route-list-header">
        <div>
            <div class="filter-container">
                <p>Протяженность (км)</p>
                <div class="distance-range-input-container">
                    {{ form.min_distance }} | {{ form.max_distance }}
                </div>
            </div>

            {% for filter_field in filter_views %}
                <div class="filter-container">
                    <p>{{ filter_field.title }}</p>
                    <div class="drop-down-multiple-choice-button-contaniner">
                        <input type="button" class="drop-down-multiple-choice-button" id="drop-down-multiple-choice-button-{{ filter_field.field_id }}" value="Все">
                    </div>
                    <div class="drop-down-multiple-choice-list-container" id="drop-down-multiple-choice-list-container-{{ filter_field.field_id }}" style="display: none;">
                        {{ filter_field.form }}
                    </div>
                </div>
            {% endfor %}

            <div class="filter-container">
                <p>Заброска</p>
                {{ form.is_transport_availability }}
            </div>
        </div>
    </div>

    <!-- <input class="submit-button" id="submit-button" type="button" value="Найти" onclick="updateRouteList(onUpdateRouteList)"> -->

    <div class="filter-border"></div>
        
    <div class="rout-list-container" id="rout-list-container"></div>

    <script src="{% static 'script/observer.js' %}"></script>
    <script src="{% static 'script/route_list.js' %}"></script>
{% endblock %}