{% extends "base_generic.html" %}

{% block title %}<title>{{ rout.title }}</title>{% endblock %}

{% block content %}
<div class="header-container">
    <div class="overlay-header-container">
        <img class="wallpaper-image" alt="" src="{{ rout.wallpaper_image.url }}">
        <div class="simple-linear">
        </div>
        <h3 class="header-text">{{ rout.title }}</h3>
    </div>
</div>
<div class="feature-container">
    <p><strong>Расстояние</strong> {{ rout.distance }} km </p>
    <p><strong>Сложность</strong> {{ rout.difficulty }}</p>
    <p><strong>Тип</strong> {{ rout.surface }}</p>
    <p><strong>Направление</strong> {{ rout.direction }}</p>
    <p><strong>Особенности</strong> {% for t in rout.tags.all %} #{{ t }} {% endfor %}</p>
</div>
<div class="description-container">
    <p class="text-justify">{{ rout.description }}</p>
</div>
<p>Трек на <a href="{{ rout.bike_map_link }}">BikeMap</a></p>
<p>Скачать трек в <a href="{{ rout.kml_file_link }}">формате KML</a></p>
<p><strong>На Google картах</strong></p>
<iframe class="google-map" src="{{ rout.goggle_map_link }}"></iframe>
{% endblock %}