{% extends "base_generic.html" %}

{% block title %}<title>Поиск маршрутов</title>{% endblock %}

{% block content %}
<div class="route-list-header">
    <div>
        <div class="filter-container">
            <p>Протяженность маршрута (км)</p>
            <div>
                {{ form.min_distance }}
                {{ form.max_distance }}
            </div>
        </div>
        <div class="filter-container">
            <p>Cложность</p>
            {{ form.difficulty }}
        </div>
    </div>
</div>

<div class="submit-button-container">
    <strong>
        <input class="submit-button" id="submit-button" type="button" value="Найти" onclick="update_rout_list('/routs/update-rout-list', on_update_rout_list)">
    </strong>
</div>
    
<div id="rout-list-container"></div>

<script>
    function isNaturalNumber(n) {
        /* check is number natural */
        n = n.toString(); // force the value incase it is not
        var n1 = Math.abs(n),
            n2 = parseInt(n, 10);
        return !isNaN(n1) && n2 === n1 && n1.toString() === n;
    }

    function update_rout_list(url, callback) {
        min_distance_field = document.getElementById("id_min_distance");
        max_distance_field = document.getElementById("id_max_distance");

        if (isNaturalNumber(min_distance_field.value)) {
            prev_min_distance = min_distance_field.value;
        }
        else {
            min_distance_field.value = prev_min_distance;
        }

        if (isNaturalNumber(max_distance_field.value)) {
            prev_max_distance = max_distance_field.value;
        }
        else {
            max_distance_field.value = prev_max_distance;
        }

        console.log('max' + String(max_distance_field.value));
        console.log('min' + String(min_distance_field.value));
        if (parseInt(max_distance_field.value, 10) < parseInt(min_distance_field.value, 10)) {
            console.log('lower');
            max_distance_field.value = min_distance_field.value;
        }

        const xhttp=new XMLHttpRequest();
        xhttp.onload = function() {callback(this);}

        url += "?min_distance=" + document.getElementById("id_min_distance").value;
        url += "&max_distance=" + document.getElementById("id_max_distance").value;
        url += "&difficulty=";
        let checkboxes = document.getElementById("id_difficulty").getElementsByTagName("input");
        let difficulty_keys = "";
        let difficulty_keys_all = "";
        for (let i = 0; i < checkboxes.length; i++) {
            difficulty_keys_all += checkboxes[i].value;
            if (checkboxes[i].checked) {
                difficulty_keys += checkboxes[i].value;
            }
        }
        if (difficulty_keys == "") {
            url += difficulty_keys_all;
        }
        else {
            url += difficulty_keys;
        }

        xhttp.open("GET", url);
        xhttp.send();
    }

    function on_update_rout_list(xhttp) {
        document.getElementById("rout-list-container").innerHTML = xhttp.responseText;
    }

    function on_change_min_distance(e) {
        if (isNaturalNumber(e.target.value)) {
            prev_min_distance = e.target.value;
        }
        else {
            e.target.value = prev_min_distance;
        }
    }

    function on_change_max_distance(e) {
        if (isNaturalNumber(e.target.value)) {
            prev_max_distance = e.target.value;
        }
        else {
            e.target.value = prev_max_distance;
        }
    }

    function onload() {
        update_rout_list('/routs/update-rout-list', on_update_rout_list);
        min_distance_field = document.getElementById("id_min_distance");
        max_distance_field = document.getElementById("id_max_distance");
        min_distance_field.className = "input-number";
        max_distance_field.className = "input-number";
        prev_min_distance = min_distance_field.value;
        prev_max_distance = max_distance_field.value;
        min_distance_field.addEventListener("change", on_change_min_distance);
        max_distance_field.addEventListener("change", on_change_max_distance);
    }

    window.onload = onload();
</script>
{% endblock %}