{% extends "base_generic.html" %}

{% block title %}<title>Поиск маршрутов</title>{% endblock %}

{% block content %}
<div class="route-list-header">
    <div>
        <div class="filter-container">
            <p>Протяженность (км)</p>
            <div class="distance-range-input-container">
                {{ form.min_distance }} | {{ form.max_distance }}
            </div>
        </div>
 
        <div class="filter-container">
            <p>Сложность</p>
            <div class="drop-down-multiple-choice-button-contaniner">
                <input type="button" class="drop-down-multiple-choice-button" id="drop-down-multiple-choice-button-difficulty" onclick="on_drop_down_multiple_choice_button('difficulty')" value="Все">
            </div>
            <div class="drop-down-multiple-choice-list-container" id="drop-down-multiple-choice-list-container-difficulty" style="display: none;">
                {{ form.difficulty }}
            </div>
        </div>

        <div class="filter-container">
            <p>Покрытие</p>
            <div class="drop-down-multiple-choice-button-contaniner">
                <input type="button" class="drop-down-multiple-choice-button" id="drop-down-multiple-choice-button-surface" onclick="on_drop_down_multiple_choice_button('surface')" value="Все">
            </div>
            <div class="drop-down-multiple-choice-list-container" id="drop-down-multiple-choice-list-container-surface" style="display: none;">
                {{ form.surface }}
            </div>
        </div>

        <div class="filter-container">
            <p>Направление</p>
            <div class="drop-down-multiple-choice-button-contaniner">
                <input type="button" class="drop-down-multiple-choice-button" id="drop-down-multiple-choice-button-direction" onclick="on_drop_down_multiple_choice_button('direction')" value="Все">
            </div>
            <div class="drop-down-multiple-choice-list-container" id="drop-down-multiple-choice-list-container-direction" style="display: none;">
                {{ form.direction }}
            </div>
        </div>

        <div class="filter-container">
            <p>Особенности</p>
            <div class="drop-down-multiple-choice-button-contaniner">
                <input type="button" class="drop-down-multiple-choice-button" id="drop-down-multiple-choice-button-tag" onclick="on_drop_down_multiple_choice_button('tag')" value="Все">
            </div>
            <div class="drop-down-multiple-choice-list-container" id="drop-down-multiple-choice-list-container-tag" style="display: none;">
                {{ form.tag }}
            </div>
        </div>

        <div class="filter-container">
            <p>Заброска</p>
            {{ form.is_transport_availability }}
        </div>
    </div>
</div>

<!-- <input class="submit-button" id="submit-button" type="button" value="Найти" onclick="updateRouteList(onUpdateRouteList)"> -->

<div class="filter-border"></div>
    
<div class="rout-list-container" id="rout-list-container"></div>

<script>
    // function addRouteCardEventListeners() {
    //     [...document.getElementsByClassName("route-card")].forEach(item => {
    //         item.addEventListener("click", e => {
    //             console.log(e.target.id);
    //             location.href = e.target.id;
    //         });
    //     });
    // }

    function isNaturalNumber(n) {
        n = n.toString();
        var n1 = Math.abs(n),
            n2 = parseInt(n, 10);
        return !isNaN(n1) && n2 === n1 && n1.toString() === n;
    }

    function updateButton(field) {
        let checkboxes = document.getElementById("id_" + field).getElementsByTagName("input");
        let labels = document.getElementById("id_" + field).getElementsByTagName("label");
        let n = 0;
        let n_max = 0;
        let value = "";
        let values = "";
        for (let i = 0; i < checkboxes.length; i++) {
            n_max += 1;
            if (checkboxes[i].checked) {
                value = labels[i].innerText.substring(1);
                values += labels[i].innerText.substring(1) + ",";
                n += 1;
            }
        }
        if (n == 0 || n == n_max) {
            return "Все";
        }
        else if (n == 1) {
            return value;
        }
        else {
            return "(" + n + ")" + values;
        }
    }

    function getDropDownChoiceSelect(field) {
        let url = "&" + field + "=";
        let checkboxes = document.getElementById("id_" + field).getElementsByTagName("input");
        let keys = "";
        let keys_all = "";
        for (let i = 0; i < checkboxes.length; i++) {
            keys_all += checkboxes[i].value;
            if (checkboxes[i].checked) {
                keys += checkboxes[i].value;
            }
        }
        if (keys == "") {
            url += keys_all;
        }
        else {
            url += keys;
        }
        return url;
    }

    function setDropDownChoiceSelect(field, values, callback) {
        let checkboxes = document.getElementById("id_" + field).getElementsByTagName("input");
        let is_all_checked = true;
        for (let i = 0; i < checkboxes.length; i++) {
            if (values.includes(checkboxes[i].value)) {
                checkboxes[i].checked = true;
            }
            else {
                checkboxes[i].checked = false;
                is_all_checked = false;
            }
        }
        if (is_all_checked) {
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
            }
        }
        callback();
    }

    function generateUpdateRouteListUrl() {
        url = "/routs/update-rout-list";
        url += "?min_distance=" + document.getElementById("id_min_distance").value;
        url += "&max_distance=" + document.getElementById("id_max_distance").value;
        ["difficulty", "surface", "direction", "tag"].forEach(field => {
            url += getDropDownChoiceSelect(field);
        });
        url += "&is_transport_availability=" + document.getElementById("id_is_transport_availability").value;
        return url;
    }

    function openPage(callback, page) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {callback(this);};
        xhttp.open("GET", generateUpdateRouteListUrl() + "&page=" + page);
        xhttp.send();
    }

    function updateRouteList(callback) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {callback(this);};
        xhttp.open("GET", generateUpdateRouteListUrl());
        xhttp.send();
    }

    function onUpdateRouteList(xhttp) {
        document.getElementById("rout-list-container").innerHTML = xhttp.responseText;
        ["first-page-button", "previous-page-button", "next-page-button", "last-page-button"].forEach(id => {
            item = document.getElementById(id);
            if (!item.disabled) {
                let page = item.name;
                item.addEventListener("click", () => {openPage(onUpdateRouteList, page);});
            }
        });
    }

    function on_change_min_distance(e) {
        let min_distance_field = e.target;
        let max_distance_field = document.getElementById("id_max_distance");

        if (isNaturalNumber(min_distance_field.value)) {
            if (parseInt(max_distance_field.value, 10) < parseInt(min_distance_field.value, 10)) {
                max_distance_field.value = min_distance_field.value;
            }
            prev_min_distance = min_distance_field.value;
            updateRouteList(onUpdateRouteList);
        }
        else {
            min_distance_field.value = prev_min_distance;
        }
    }

    function on_change_max_distance(e) {
        let max_distance_field = e.target;
        let min_distance_field = document.getElementById("id_min_distance");

        if (isNaturalNumber(max_distance_field.value)) {
            if (parseInt(max_distance_field.value, 10) < parseInt(min_distance_field.value, 10)) {
                min_distance_field.value = max_distance_field.value;
            }
            prev_max_distance = max_distance_field.value;
            updateRouteList(onUpdateRouteList);
        }
        else {
            max_distance_field.value = prev_max_distance;
        }
    }

    function getTopCoordinate(elem) {
        let box = elem.getBoundingClientRect();
        return (box.top + window.pageYOffset + 40).toString() + "px";
    }

    function setTopCoordinate(choice, button) {
        choice.style.top = getTopCoordinate(button);
    }

    function placeMultipleChoiceContainer(field) {
        let button = document.getElementById("drop-down-multiple-choice-button-" + field);
        let choice = document.getElementById("drop-down-multiple-choice-list-container-" + field);
        setTopCoordinate(choice, button);
    }

    // drop-down multiple choice
    let is_choice_display = new Map([
        ['difficulty', false],
        ['surface', false],
        ['direction', false],
        ['tag', false]
    ]);

    function openDropDownChoice(choice, button) {
        choice.style.display = "block";
        choice.style.boxShadow = "0px 0px 5px lightgrey";
        button.style.boxShadow = "0px 0px 5px lightgrey";
    }

    function closeDropDownChoice(choice, button, field) {
        choice.style.display = "none";
        choice.style.boxShadow = "0px 0px 0px lightgrey";
        button.style.boxShadow = "0px 0px 0px lightgrey";
        button.value = updateButton(field);
    }

    function on_drop_down_multiple_choice_button(field) {
        let choice = document.getElementById("drop-down-multiple-choice-list-container-" + field);
        let button = document.getElementById("drop-down-multiple-choice-button-" + field);

        is_choice_display.set(field, !is_choice_display.get(field));
        if (is_choice_display.get(field)) {
            openDropDownChoice(choice, button);
        }
        else {
            closeDropDownChoice(choice, button, field);
            updateRouteList(onUpdateRouteList);
        }
    }

    function set_drop_down_multiple_choice_close(field) {
        let choice = document.getElementById("drop-down-multiple-choice-list-container-" + field);
        let button = document.getElementById("drop-down-multiple-choice-button-" + field);

        document.addEventListener("click", (e) => {
            let withinBoundariesChoice = e.composedPath().includes(choice);
            let withinBoundariesButton = e.composedPath().includes(button);
            if (!withinBoundariesChoice && !withinBoundariesButton) {
                if (is_choice_display.get(field)) {
                    is_choice_display.set(field, false);
                    closeDropDownChoice(choice, button, field);
                    updateRouteList(onUpdateRouteList);
                }
            }
        })
    }

    function updateFilterOnLoad(callback) {
        document.getElementById("id_min_distance").value = parseInt("{{ min_distance }}");
        document.getElementById("id_max_distance").value = parseInt("{{ max_distance }}");
        document.getElementById("id_is_transport_availability").value = "{{ is_transport_availability }}";
        
        const fields = [
            ["difficulty", "{{ difficulty }}".split("")],
            ["surface", "{{ surface }}".split("")],
            ["direction", "{{ direction }}".split("")],
            ["tag", "{{ tags }}".split("")]
        ];

        fields.forEach(field => {
            setDropDownChoiceSelect(field[0], field[1], () => {
                document.getElementById("drop-down-multiple-choice-button-" + field[0]).value = updateButton(field[0]);}
            );
        });

        callback();
    }

    function onload() {
        updateFilterOnLoad(() => {updateRouteList(onUpdateRouteList);});

        let min_distance_field = document.getElementById("id_min_distance");
        let max_distance_field = document.getElementById("id_max_distance");
        let prev_min_distance = min_distance_field.value;
        let prev_max_distance = max_distance_field.value;
        min_distance_field.addEventListener("change", on_change_min_distance);
        max_distance_field.addEventListener("change", on_change_max_distance);

        document.getElementById("id_is_transport_availability").addEventListener("change", () => {
            updateRouteList(onUpdateRouteList);
        });

        ["difficulty", "surface", "direction", "tag"].forEach(field => {
            placeMultipleChoiceContainer(field);
            set_drop_down_multiple_choice_close(field);
        });
    }

    window.onload = onload();

</script>
{% endblock %}