{% if rout_list %}
    {% for route in rout_list %}
        <div class="route-card">
            <div class="route-card-image-container">
                <img class="route-card-image" src="{{ route.wallpaper_image.url }}">
            </div>
            <div class="route-card-data-container">
                <a href="{{ route.get_absolute_url }}" class="route-card-link"><strong> {{ route.title }} </strong></a>
                <div class="route-card-statistic-container">
                    <div class="route-card-statistic-element-container">
                        <img class="route-card-icons" src="/images/icons/distance.png">
                        <div class="route-card-statistic-element-text-container">
                            {{ route.distance }} {% if route.distance_max > 0 %} - {{ route.distance_max }} {% endif %} km
                        </div>
                    </div>
                    <div class="route-card-statistic-element-container">
                        <img class="route-card-icons" src="/images/icons/difficulty.png">
                        <div class="route-card-statistic-element-text-container">
                            {{ route.difficulty }}
                        </div>
                    </div>
                    <div class="route-card-statistic-element-container">
                        <img class="route-card-icons" src="/images/icons/surface.png">
                        <div class="route-card-statistic-element-text-container">
                            {{ route.surface }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="route-list-statistic">Найдено маршрутов - {{ route_list_length }}</div>
{% else %}
    <p class="message-nothing-was-found">По запросу ничего не найдено</p>
{% endif %}