{% if page_obj %}
    <div class="route-list-content">
        {% for route in page_obj %}
            <a href="{{ route.get_absolute_url }}">
                <div class="route-card">
                    <div class="route-card-image-container">
                        <img class="route-card-image" src="{{ route.wallpaper_image.url }}">
                    </div>
                    <div class="route-card-data-container">
                        <p class="route-card-link"></p><strong> {{ route.title }} </strong></p>
                        <div class="route-card-statistic-container">
                            <div class="route-card-statistic-element-container">
                                <img class="route-card-icons" src="/images/icons/distance.png">
                                <div class="route-card-statistic-element-text-container">
                                    {{ route.distance }} {% if route.distance_max > 0 %} - {{ route.distance_max }} {% endif %} km
                                </div>
                            </div>
                            <div class="route-card-statistic-element-container">
                                <img class="route-card-icons" src="/images/icons/difficulty.png">
                                <div class="route-card-statistic-element-text-container">
                                    {{ route.difficulty }}
                                </div>
                            </div>
                            <div class="route-card-statistic-element-container">
                                <img class="route-card-icons" src="/images/icons/surface.png">
                                <div class="route-card-statistic-element-text-container">
                                    {{ route.surface }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="route-list-pagination">
        <div class="pagination-buttons">
            {% if page_obj.has_previous %}
                <input type="button" class="navigation-button" id="home-page-button" name="1">
                <input type="button" class="navigation-button" id="prev-page-button" name="{{ page_obj.previous_page_number }}">
            {% endif %}
        </div>
        <div class="pagination-current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </div>
        <div class="pagination-buttons">
            {% if page_obj.has_next %}
                <input type="button" class="navigation-button" id="next-page-button" name="{{ page_obj.next_page_number }}">
                <input type="button" class="navigation-button" id="last-page-button" name="{{ page_obj.paginator.num_pages }}">
            {% endif %}
        </div>
    </div>

    <div class="route-list-statistic">Найдено маршрутов - {{ page_obj.paginator.count }}</div>
{% else %}
    <p class="message-nothing-was-found">По запросу ничего не найдено</p>
{% endif %}


